.site-header {
    @include container(1271px);
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 5.3rem;
    margin-bottom: 12rem;
    &__link {
        display: flex;
    }
    @include responsive(phone) {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    img {
        width: 138px;
        height: 17px;
        object-fit: contain; 
    }
}

.sitenav__list {
    display: flex;
    align-items: center;
    list-style: none;
    @include responsive(phone) {
        display: none;
    }
}
.sitenav__list:last-child {
    .sitenav__item-link {
        color: $gray-color;
    }
}
.sitenav__item:not(:last-child){
    margin-right: 2rem;
    @include responsive(phone) {
        margin-right: 0;
        margin-bottom: 1.5rem;
    }
}
.sitenav__item {
    transition: transform .5s ease;
}
.sitenav__item-link {
    text-decoration: none;
    color: $white-color;
}
.sitenav__item:hover {
    transform: scale(1.3);
    font-weight: bold;
}

.intro {
    text-align: center;
    &__title {
        font-weight: 700;
        font-size: 6.4rem;
        line-height: 1.17;
        margin-bottom: 2.6rem;
        @include responsive(phone) {
            font-size: 5.6rem;
        }
        transition: .5s ease;
        &:hover {
            top: 1.6rem;
            transform: scale(1.15);
            color: $site-bgc;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: blue;
        }
    }
    &__text {
        font-weight: 300;
        font-size: 1.6rem;
        line-height: 1.4;
        margin-bottom: 2.6rem;
        transition: .5s ease;
        &:hover {
            color: blue;
        }
    }
}
hr {
    width: 1px;
    height: 6rem;
    margin-right: auto;
    margin-left: auto;
}
video {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}